<aside>
    <figure>
        <img src="assets/images/Ivan.Herman.png">
    </figure>
    <nav id="side" data-fname="{{ page.fname }}">
        <li><a class='nav' href="index.html" >Main information &amp; Contact</a></li>
        <li><a class='nav' href="publication_list.html">Publications</a></li>
        <li><a class='nav' href="r_and_d.html">Miscellaneous R&amp;D Activities</a></li>
        <li><a class='nav' href="presentations.html">Public Presentations</a></li>
        <li><a class='nav' href="professional_activities.html">Professional Activities</a></li>
        <li><a class='nav' href="programs.html">Software Developments</a></li>
        <li><a class='nav' href="computing.html">Computing Experiences</a></li>
        <li><a class='nav' href="languages.html">Languages Spoken</a></li>
        <li><a class='nav' href="curriculum_vitae.html">Detailed Curriculum Vitæ</a></li>
        <li><a class='nav' href="short_cv.html">Short CV</a></li>
    </nav>     
</aside>
