<aside>
    <figure>
        <img src="assets/images/Ivan.Herman.png">
    </figure>
    <nav id="side" data-fname="{{ page.fname }}">
        <li><a class='nav' href="index" >Main information &amp; Contact</a></li>
        <li><a class='nav' href="publ">Publications</a></li>
        <li><a class='nav' href="r_and_d">Miscellaneous R&amp;D Activities</a></li>
        <li><a class='nav' href="presentations">Public Presentations</a></li>
        <li><a class='nav' href="professional_activities">Professional Activities</a></li>
        <li><a class='nav' href="software">Software Developments</a></li>
        <li><a class='nav' href="computing">Computing Experiences</a></li>
        <li><a class='nav' href="langs">Languages Spoken</a></li>
        <li><a class='nav' href="cv">Detailed Curriculum Vitæ</a></li>
        <li><a class='nav' href="short_cv">Short CV</a></li>
    </nav>     
</aside>
